<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>40000</particles>
  <batches>200</batches>
  <inactive>20</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-72 -72 0 72 72 90</parameters>
    </space>
  </source>
  <entropy_mesh>1</entropy_mesh>
  <mesh id="1">
    <dimension>20 20 15</dimension>
    <lower_left>-125.0 -125.0 -50.0</lower_left>
    <upper_right>125.0 125.0 200.0</upper_right>
  </mesh>
</settings>
