<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>20</batches>
  <inactive>5</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-10.7 -10.7 -1 10.7 10.7 1</parameters>
    </space>
    <constraints>
      <fissionable>true</fissionable>
    </constraints>
  </source>
  <temperature_tolerance>1000</temperature_tolerance>
</settings>
